h1,
h2 {
    color: #2c3e50;
    text-align: center;
  }
  

  .form-container,
  .list-container {
    margin-bottom: 20px;
  }
  

  .button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  .button-delete {
    background-color: #343cdb;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button-delete:hover {
    background-color: #343cdb;
  }

  .form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #3498db;
    box-sizing: border-box;
  }

  
  label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  
  .table-container {
    overflow-x: auto; 
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #3498db;
    color: white;
    font-size: 16px;
  }
  
  
  .table tbody tr:hover {
    background-color: #e8f4f8;
  }